@import "tailwindcss";

@theme {
    --color-green-primary: #2F7043;
    --color-yellow-primary: #FFD73A;

    --animate-show-up: show-up 0.5s ease-out forwards;

    @keyframes show-up {
        0% {
            opacity: 0;
            transform: translateY(10px);
            /* start 10px below */
        }

        100% {
            opacity: 1;
            transform: translateY(0);
            /* move to original position */
        }
    }
}

.format blockquote p::before {
  @apply text-green-primary;
}

.format blockquote {
  @apply border-l-4 border-green-primary text-green-primary pl-4;
}

.format blockquote p::before {
  @apply text-green-primary;
}

body {
    background-color: #ffffe4;
    color: #2f7042f3;
}
